
/* A */
a{
  color: brown;
}

/* B */
nav > h2{
  color :pink;
}

div +p{
  color: brown;
}
a[href]{
  color :red;
  text-decoration: none;
}

a.active{
  color:blue;
  text-decoration: underline;
  background-color: pink;
}
p:last-child::after{
  content: "............";
}
li::marker{
  color: green;
}
p:nth-child(even)::first-letter{
  color:red;
  font-size: 30px;
}